<link rel="stylesheet" href="/css/nav.css">
<header class="nav">
	<div class="nav-inner">
		<a class="button home" href="/home">Home</a>
		<a class="button view" href="/posts">All Posts</a>
		<a class="button about" href="/about">About</a>
		<a class="button login" href="/login">Login</a>
	</div>
	<div class="logo">
		<p>Margaret & Bruce</p>
		<p>in Romania</p>
	</div>
</header>