<link rel="stylesheet" href="/css/nav.css">
<header class="nav">
	<div class="nav-inner">
		<a class="home" href="/home">Home</a>
		<a class="view" href="/posts">All Posts</a>
		<a class="about" href="/about">About</a>
		<a class="login" href="/login">Login</a>
	</div>
</header>