.all .posts-grid {
	display: grid;
	grid-gap: var(--space-3);
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(250px, 1fr);
	grid-auto-flow: dense;
}

.all .posts-grid .post {
	padding: var(--space-3);
	display: grid;
	grid-template-rows: 1fr .25fr;
	background-color: var(--off-white);
	height: 100%;
}

.all .posts-grid .post .title {
	font-size: 1.75em;
	text-transform: unset;
	text-align: left;
	margin-bottom: var(--space-2);
}
.all .posts-grid .post .date {
	font-size: 1.1em;
	color: var(--dark-gray);
	font-weight: lighter;
	margin-bottom: var(--space-3);
}
.all .posts-grid .post .description {
	font-size: 1em;
	letter-spacing: .02em;
	line-height: 1.3em;
	color: var(--dark-gray);
}

.all .posts-grid .post .actions {
	display: flex;
	align-items: baseline;
	justify-content: flex-end;
	gap: var(--space-3);
}
.all .posts-grid .post .delete {
	margin: auto 0 0 0;
	height: fit-content;
}

.all .posts-grid .post .edit-post, .all .posts-grid .post .delete button {
	align-self: flex-end;
	width: fit-content;
	width: -moz-fit-content;
	font-size: .9em;
	padding: var(--space-1) var(--space-2);
	margin: 0;
}

@media (min-width: 64em) {
	.all .posts-grid {
		grid-template-columns: 1fr 1fr;
	}
}