<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>User | Profile</title>
		<link href="/css/global.css" rel="stylesheet" type="text/css">
		<link href="/css/index.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<%- include('../partials/_navUser.ejs') %>
		<div class="home">
			<div class="inner">
				<h1>Profile</h1>
				<form class="logout" action="/user/logout?_method=DELETE" method="POST">
					<button type="submit">Log Out</button>
				</form>
			</div>
		</div>
	</body>
</html>